@model IList<Contracts.Database.Command>

@{
    ViewData["Title"] = "Commands";
}

<link rel="stylesheet" href="~/css/commands-styles.css" />

<div class="text-center">
    <h1 class="display-4">Commands</h1>
</div>

<table class="table" id="table">
    <thead>
        <tr>
            <th class="command-column">
                Command
            </th>
            <th class="output-column">
                Output
            </th>
            <th class="button-column">

            </th>
        </tr>
    </thead>

    <tbody id="table-body">
        @foreach (var command in Model)
        {
            <tr id="row-@command.CommandName">
                <th>
                    @command.CommandName
                </th>
                <th>
                    @command.CommandOutput
                </th>
                <th>
                    <div class="delete-button" id="@command.CommandName">delete</div>
                </th>
            </tr>
        }
        <tr id="add-row">
            <th>
                <input type="text" class="command-input" id="command-input" placeholder="command">
            </th>
            <th>
                <input type="text" class="output-input" id="output-input" placeholder="output">
            </th>
            <th>
                <div class="add-button" id="add-button">add</div>
            </th>
        </tr>
    </tbody>
</table>

<script src="~/js/commands-page.js"></script>