.viewers-container{
    display: block;
}

.viewer-container{
    width: 100%;
    display: inline-flex;
}

.viewer-name{
    font-weight: 700;
}

.watchtime{
    color: gray;
    margin-left: 10px;
}