.sign-in-form
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-100%);
}

.sign-in-title
{
  text-align: center;
}

.username-input
{
  margin-top: 30px;
  width: 100%;
}

.password-input
{
  margin-top: 10px;
}

.sign-in-button
{
  margin-top: 10px;
}